.how__section {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  background-color: #121212;
}
.how__section__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  padding: 1em 2em 8em;
  justify-content: center;
  color: white;
}
.how__section__content__subheading {
  display: flex;
  font-size: 18px;
  color: #139948;
  text-align: center;
  justify-content: center;
  margin-bottom: 0.2em;
}
.how__section__content__heading {
  display: flex;
  font-size: 44px;
  text-align: center;
  justify-content: center;
  font-weight: 900;
  margin-bottom: 1.5em;
}
.how__section__content__data {
  display: flex;
  width: 100%;
}
.how__section__content__data__entry {
  display: flex;
  flex-direction: column;
  min-width: 290px;
  align-items: center;
  position: relative;
  padding: 1em 3em;
}
.how__section__content__data__entry:first-child {
  padding: 1em 3em 1em 0.1em;
}
.how__section__content__data__entry:last-child {
  padding: 1em 0.1em 1em 3em;
}
.how__section__content__data__entry__step {
  font-size: 16px;
  font-weight: 700;
}
.how__section__content__data__entry__number {
  font-size: 66px;
  font-weight: bolder;
  font-family: AvenirLTStd-Black, sans-serif;
  color: #ffffff17;
}
.how__section__content__data__entry__heading {
  font-size: 16px;
  font-weight: 700;
  margin: 1em 0 1.5em;
}
.how__section__content__data__entry__text {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  max-width: 200px;
}

.how__section__content__data__entry__line {
  display: flex;
  height: 1px;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 87px;
  z-index: 9;
  right: 0;
  border-radius: 100px;
}
.how__section__content__data__entry__dot {
  display: flex;
  width: fit-content;

  z-index: 99999;
  margin: 2em 0em;
  position: relative;
}
.how__section__content__data__entry__dot__overlay {
  display: flex;
  width: fit-content;
  padding: 0.7em;
  border-radius: 100px;
  background-color: transparent;
}
.how__section__content__data__entry__dot__overlay__hover {
  display: flex;
  width: fit-content;
  padding: 0.7em;
  border-radius: 100px;
  background-color: #13994980;
}
.how__section__content__data__entry__dot__overlay__point {
  display: flex;
  width: fit-content;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #d9d9d9;
}
.how__section__content__data__entry__dot__overlay__point__hover {
  display: flex;
  width: fit-content;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #139948;
}
@media (max-width: 700px) {
  .how__section__content__subheading {
    font-size: 16px;
  }
  .how__section__content__heading {
    font-size: 34px;
  }
}
