.service__Pagedetails__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0 20px;
  // margin-top: 20px;
  width: 100%;
  background-color: #000;
  padding: 0em 2em;
}
.active-scroll-spy {
  color: #fff;
  z-index: 1;
  // font-size: 22px;
  // margin-right: 2em;
  // width: 90px;
}
.service__Pagedetails__section__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
}
.service__Pagedetails__section__content__left {
  width: 25%;
  position: sticky;
  height: 100%;
  top: 100px;
  padding: 2em;
}
.service__Pagedetails__section__content__mid {
  width: 40%;
}
.service__Pagedetails__section__content__mid__imgs__img {
  height: 100vh;
}
.service__Pagedetails__section__content__right {
  width: 35%;
  padding: 0em 2em;
}
.service__Pagedetails__section__content__right__content {
  color: #fff;
  font-size: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.service__Pagedetails__section__content__right__content__heading {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0.5px;
}
.service__Pagedetails__section__content__right__content__info {
  margin-top: 1em;
  font-size: 18px;
  line-height: 1.4;
  text-align: justify;
  font-weight: 400;
  color: #999;
}
.service__Pagedetails__section__content__right__content__heading__links {
  display: flex;
}
.service__Pagedetails__section__content__right__content__heading__links li {
  font-size: 16px;
}
.service__Pagedetails__section__content__left__links__link ul {
  padding: 1em;
}
.service__Pagedetails__section__content__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service__Pagedetails__section__content__left__links__link {
  color: #999;
  text-decoration: none;
  display: block;
  padding-bottom: 1.2em;
  margin-bottom: 10px;
}
.service__Pagedetails__section__content__right__content__heading__links li {
  margin-bottom: 0.5em;
}
.service__Pagedetails__section__content__left__links__link {
  color: #999;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  max-width: 150px;
}
.active {
  color: #fff !important;
}
.service__Pagedetails__section__content__mid__imgs img {
  width: 100%;
  height: 100%;
}
